i.material-icons{
  color: rgba(81, 99, 120, 0.4);
  font-family: Material Icons;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
}
.ui-tooltip, .arrow:after {
  background: white;
  //border: 2px solid white;
}
.ui-tooltip {
  padding: 12px 16px;
  color: rgb(81, 99, 120);
  font-size: 12px;
}