@import "config";
@import "sidebar";
@import "navbar";
@import "card";
@import "button";
@import "table";
@import "span";
@import 'form';
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import "responsive";
body{
  background-color: rgba(81, 99, 120, 0.1);
  font-family: 'Noto Sans KR', Avenir, "Avenir Next", Helvetica, Arial, "Apple SD Gothic Neo", "Nanum Barun Gothic", "Malgun Gothic", 맑은고딕, 돋움, Dotum, "Noto Sans Japanese", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", メイリオ, sans-serif;
}

#container {
  position: absolute;
  left: 0;
  top: 70px;
  right: 0;
  height: calc(100% - 90px);
  #content {
    max-width: 1600px;
    min-width: calc(100vw - 296px);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    min-height: 100%;
    padding: 20px 20px 40px;
    margin: auto;
    @include desktop{
      left: 256px;
    }
  }

  #sidebar.collapse.show + #content {
    transition: 0.18s ease;
    transform: translate(0, 0);
    left: 256px;
  }

  #sidebar.collapsing + #content,
  #sidebar.collapse + #content {
    transition: 0.18s ease;
    transform: translate(0, 0);
    height: initial !important;
    left: 0;
  }
}

.time-line-chart{
  display: flex;
  position: relative;
  height: 25px;
  align-items: center;
  >.line{
    width: calc(25% - 5px);
    height: 3px;
    margin-right: 5px;
    &:last-child{
      margin-right: 0;
    }
  }
  >.bullet{
    left: 50%;
    margin-left: -40px;
    position: absolute;
    font-size: 13px;
    font-weight: 700;
    line-height: 25px;
    vertical-align: middle;
    width: 80px;
    height: 25px;
    border-radius: 12.5px;
    background-color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  >.average{
    left: 50%;
    margin-left: -40px;
    position: absolute;
    top: 28px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    color: rgb(81, 99, 120);
    vertical-align: middle;
    width: 80px;
    height: 25px;
    text-align: center;
  }
  &.very-bad {
    >.line{
      background: rgb(255, 125, 165);
    }
    >.bullet{
      border: 2px solid rgb(255, 125, 165);
      &:hover{
        background: rgb(255, 125, 165);
      }
    }
  }
  &.bad {
    >.line{
      background: rgb(255, 175, 200);
    }
    >.bullet{
      border: 2px solid rgb(255, 175, 200);
      &:hover{
        background: rgb(255, 175, 200);
      }
    }
  }
  &.normal {
    >.line{
      background: rgb(255, 223, 164);
    }
    >.bullet{
      border: 2px solid rgb(255, 223, 164);
      &:hover{
        background: rgb(255, 223, 164);
      }
    }
  }
  &.good {
    >.line{
      background: rgb(161, 213, 37);
    }
    >.bullet{
      border: 2px solid rgb(161, 213, 37);
      &:hover{
        background: rgb(161, 213, 37);
      }
    }
  }
  &.very-good {
    >.line{
      background: rgb(0, 214, 61);
    }
    >.bullet{
      border: 2px solid rgb(0, 214, 61);
      &:hover{
        background: rgb(0, 214, 61);
      }
    }
  }
}