doctype html
html(lang="ko")
  include ../../components/head
  body
    include ../../components/navbar
    #container
      include ../../components/sidebar
      #content
        .ib-card
          .ib-card-header
            span.title
              i.material-icons.bold tune
              | 필터
            .ib-card-actions
              button(disabled=true)
                i.material-icons refresh
                | 새로고침
              button
                i.material-icons add
                | 생성
        .ib-card
          .ib-card-header
            span.title 영역 퍼널
            .ib-card-actions
              button(disabled=true)
                i.material-icons refresh
                | 새로고침
              button
                i.material-icons add
                | 생성


    include ../../components/footer

