.radio-label {
  margin-right: 20px;
}

#period {
  width: 100%;
  min-width: 100px;
  border-collapse: separate;
  box-sizing: border-box;
  box-shadow: none;
  font-size: 14px;
  height: 40px;
  display: flex;
  flex-direction: row;
  position: relative;
  -webkit-box-align: center;
  align-items: center;
  background-color: rgb(249, 249, 249);
  color: rgb(204, 204, 204);
  cursor: not-allowed;
  border-radius: 4px;
  border-spacing: 0px;
  overflow: hidden;
  margin: 8px;
  padding: 0px 10px;
  outline: none;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(232, 235, 237);
  border-image: initial;
  &::placeholder {
    border-collapse: separate;
    font-size: 14px;
    color: rgb(204, 204, 204);
    cursor: not-allowed;
    border-spacing: 0px;
  }
}

#visit-type-button {
  box-sizing: border-box;
  border-color: rgb(230, 230, 230);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  transition: all 100ms ease 0s;
  outline: 0px !important;
  background-color: rgb(242, 242, 242);
  min-height: 38px;
}
