doctype html
html(lang="ko")
  head
    include ../../components/head
    link(rel='stylesheet', href='./overview.scss')
  body
    include ../../components/navbar
    #container
      include ../../components/sidebar
      #content
        .ib-card
          .ib-card-header
            span.title
              i.material-icons.bold tune
              | 필터
            .ib-card-actions
              .ib-card-caption
                .description(title="<b>Total 비율</b>: 맥어드레스 랜덤화 비율과 WI-FI 활성화 비율을 반영한 전체 보정치<br/>" +
														"<b>Wi-Fi 활성화 비율</b>: Wi-Fi 활성화 디바이스 비율<br/>" +
														"<b>랜덤화 비율</b>: 맥어드레스 랜덤화 디바이스 비율<br/>" +
														"<b>계산 방법</b>: 수집된 디바이스 수 * [(1/(1 - 랜덤화 비율)) * (1/Wi-Fi 활성화 비율)]")
                  i.material-icons.bold info
                  span 모든 퍼널은 선택한 보정치가 반영되어있습니다
              .bottom-toggler-btn(data-blind="true" data-opened="true" data-target="#target3")
                span 접기
                i.material-icons arrow_drop_up
          .ib-card-body#target3
            form
              .form-row
                .form-column
                  label
                    | 기간
                    i.material-icons(title="분석 기간을 선택합니다") help
                  input#period(autocomplete="off")
                .form-column
                  label
                    | 방문 유형
                    i.material-icons(title="신규: 1회 방문<br/>재방문: 2-3회 방문<br/>VIP: 4회 이상 방문") help
                  select#visit-type
                    option(value='all') 전체 방문객
                    option(value='part') 일부 방문객
                .form-column
                  label
                    | 계산 방식
                    i.material-icons(title="평균: 일 평균 값<br/>합계: 선택한 기간의 합") help
                  .radio-group
                    input(type='radio', value='average', checked='', name='calculate')
                    label.radio-label(for='평균') 평균
                    input(type='radio', value='sum', name='calculate')
                    label.radio-label(for='합계') 합계
                button.submit-button(type='submit', value='Submit', name='')
                  i.material-icons play_arrow
                  | 실행
          .ib-card-header
            span.title
              i.material-icons.bold tune
              | 고급 옵션
            .ib-card-actions
              .bottom-toggler-btn2(data-blind="true" data-opened="true" data-target="#target2")
                span 접기
                i.material-icons arrow_drop_up

          .ib-card-body-2#target2
            form
              .form-row
                .form-column
                  label
                    | 보정치 설정
                    i.material-icons(title="<b>Total 비율</b>: 맥어드레스 랜덤화 비율과 WI-FI 활성화 비율을 반영한 전체 보정치<br/>" +
														"<b>Wi-Fi 활성화 비율</b>: Wi-Fi 활성화 디바이스 비율<br/>" +
														"<b>랜덤화 비율</b>: 맥어드레스 랜덤화 디바이스 비율<br/>" +
														"<b>계산 방법</b>: 수집된 디바이스 수 * [(1/(1 - 랜덤화 비율)) * (1/Wi-Fi 활성화 비율)]") help
                  .radio-group
                    input(type='radio', checked='', name='revise')
                    label.radio-label Total
                    input(type='radio', value='sum', name='revise')
                    label.radio-label Wi-Fi
                    input(type='radio', value='sum', name='revise')
                    label.radio-label 적외선

        .ib-card
          .ib-card-header.dark-header
            span.title
            .ib-card-actions
              .download
                i.material-icons help
                span
                  | 해당 그래프는 방문유형/계산 방식이 적용되지 않는 그래프입니다.
                  br
                  | 브랜드 외에 다른 벤치마크 내용을 보시려면
                  |
                  a(href="#")
                    | 벤치마크 분석
                  | 을 클릭해 주세요.
          hr.ib-card-hr
          .ib-card-header
            span.title
              | WalkInsights Demo Shop vs WalkInsights Demo
              .ib-card-caption
                .description.left(title="매장의 지표별 수준을 확인 할 수 있습니다.")
                  i.material-icons.bold help
                  span 도움말
            .ib-card-actions
              .description.left(title="<b>매우나쁨</b> (백분위 ~20%)<br/><b>나쁨</b> (백분위 20~40%)<br/><b>보통</b> (백분위 40~60%)<br/><b>좋음</b>(백분위 60~80%)<br/><b>매우좋음</b>(백분위 80~100%)")
                  i.material-icons.bold help
              .tags
                  .tag
                    div.mark.very-bad
                    span.text 매우나쁨
                  .tag
                    div.mark.bad
                    span.text 나쁨
                  .tag
                    div.mark.normal
                    span.text 보통
                  .tag
                    div.mark.good
                    span.text 좋음
                  .tag
                    div.mark.very-good
                    span.text 매우좋음

              .bottom-toggler-btn2(data-blind="true" data-opened="true" data-target="#target1")
                span 접기
                i.material-icons arrow_drop_up
          .ib-card-body#target1
            .time-lines
              .time-line
                span 통행객
                .time-line-chart(data-avg="2.08만" data-value="2.06만" data-percentage="48")
              .time-line
                span 방문율
                .time-line-chart(data-avg="2.03%" data-value="1.64%" data-percentage="64")
              .time-line
                span 방문객
                .time-line-chart(data-avg="340" data-value="418" data-percentage="55")
              .time-line
                span 체류율
                .time-line-chart(data-avg="2.08만" data-value="2.06만" data-percentage="48")
              .time-line
                span 체류객
                .time-line-chart(data-avg="2.08만" data-value="2.06만" data-percentage="48")
              .time-line
                span 체류시간
                .time-line-chart(data-avg="2.08만" data-value="2.06만" data-percentage="48")

        .ib-card
            .ib-card-header
                span.title 전체 퍼널 현황
                .ib-card-actions
                    .download
                        i.material-icons cloud_download
                        span 이미지 다운로드
            .ib-card-body
                #trend-wrapper
                    canvas#trend
        .ib-card
            .ib-card-header
                span.title 요약
                .ib-card-actions.download

                        i.material-icons cloud_download
                        span 이미지 다운로드
            .ib-card-body#summary-wrapper
                .summary
                  span.title
                    | 통행객
                    i.material-icons(title="선택한 기간의 통행객 데이터") help
                  span.value 892.93만
                  span.sparkline(values="5,6,7,9,9,5,3,2,4,6,7,5,6,7,9,9,5,3,2,4,6,7, 5,6,7,9,9")
                  span.diff.high
                    i.material-icons arrow_upward
                    | 15.20%
                .summary
                  span.title
                    | 방문율
                    i.material-icons(title="선택한 기간의 방문율 데이터") help
                  span.value 892.93만
                  span.sparkline(values="5,6,7,9,9,5,3,2,4,6,7,5,6,7,9,9,5,3,2,4,6,7, 5,6,7,9,9")
                  span.diff.high
                    i.material-icons arrow_upward
                    | 15.20%
                .summary
                  span.title
                    | 방문객
                    i.material-icons(title="선택한 기간의 방문객 데이터") help
                  span.value 892.93만
                  span.sparkline(values="5,6,7,9,9,5,3,2,4,6,7,5,6,7,9,9,5,3,2,4,6,7, 5,6,7,9,9")
                  span.diff.low
                    i.material-icons arrow_downward
                    | 15.20%
                .summary
                  span.title
                    | 체류율
                    i.material-icons(title="선택한 기간의 체류율 데이터") help
                  span.value 892.93만
                  span.sparkline(values="5,6,7,9,9,5,3,2,4,6,7,5,6,7,9,9,5,3,2,4,6,7, 5,6,7,9,9")
                  span.diff.high
                    i.material-icons arrow_upward
                    | 15.20%
                .summary
                  span.title
                    | 매출액
                    i.material-icons(title="선택한 기간의 매출액 데이터") help
                  span.value 892.93만
                  span.sparkline(values="5,6,7,9,9,5,3,2,4,6,7,5,6,7,9,9,5,3,2,4,6,7, 5,6,7,9,9")
                  span.diff.high
                    i.material-icons arrow_upward
                    | 15.20%
                .summary
                  span.title
                    | 구매율
                    i.material-icons(title="선택한 기간의 구매율 데이터") help
                  span.value 892.93만
                  span.sparkline(values="5,6,7,9,9,5,3,2,4,6,7,5,6,7,9,9,5,3,2,4,6,7, 5,6,7,9,9")
                  span.diff.low
                    i.material-icons arrow_downward
                    | 15.20%
                .summary
                  span.title
                    | 체류시간
                  span.value 892.93만
                  span.sparkline(values="5,6,7,9,9,5,3,2,4,6,7,5,6,7,9,9,5,3,2,4,6,7, 5,6,7,9,9")
                  span.diff.low
                    i.material-icons arrow_downward
                    | 15.20%

    include ../../components/footer
    script(src="/assets/externals/jquery-date-range-picker.js")
    script(src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels")
    script(src="./overview.js")

    script.
      $( function() {
        $( "#period" ).daterangepicker();
      } );
      $( function() {
        $( "#store-type" ).selectmenu();
      } );
      $( function() {
        $( "#visit-type" ).selectmenu();
      } );
      $( function() {
        var handle = $( "#custom-handle" );
        $( "#slider" ).slider({
          create: function() {
            handle.text( $( this ).slider( "value" ) );
          },
          slide: function( event, ui ) {
            handle.text( ui.value );
          }
        });
      } );

