.radio-label {
  margin-right: 20px;
  font-size: 14px;
  color: #516378;
}

#period {
  width: 100%;
  border-collapse: separate;
  box-sizing: border-box;
  box-shadow: none;
  font-size: 14px;
  height: 40px;
  display: flex;
  flex-direction: row;
  position: relative;
  -webkit-box-align: center;
  align-items: center;
  background-color: rgb(249, 249, 249);
  color: rgb(204, 204, 204);
  border-radius: 4px;
  border-spacing: 0px;
  overflow: hidden;
  padding: 0px 10px;
  outline: none;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(232, 235, 237);
  border-image: initial;
  &::placeholder {
    border-collapse: separate;
    font-size: 14px;
    color: rgb(204, 204, 204);
    cursor: not-allowed;
    border-spacing: 0px;
  }
  margin-right: 12px;
}

#visit-type-button,
#store-type-button {
  box-sizing: border-box;
  border-color: rgb(230, 230, 230);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  transition: all 100ms ease 0s;
  outline: 0px !important;
  background-color: rgb(242, 242, 242);
  min-height: 38px;
  .ui-selectmenu-text {
    color: rgb(153, 153, 153);
    margin-left: 2px;
    margin-right: 2px;
    max-width: calc(100% - 8px);
    position: absolute;
    text-overflow: ellipsis;
    white-space: nowrap;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;
    overflow: hidden;
  }
  .ui-selectmenu-icon {
    margin-top: 3px;
  }
}

.ui-menu-item-wrapper {
  color: #516378;
}

.ui-state-active,
.ui-widget-content .ui-state-active {
  border: 1px solid #f3f4f6;
  background-color: #f3f4f6;
  font-weight: normal;
  color: #516378;
}

#slider {
  min-width: 300px;
  background-color: #e9e9e9;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border-radius: 25px;
  height: 0.7em !important;
  border: none;
}
#custom-handle {
  width: 2em;
  height: 1.6em;
  top: 50%;
  margin-top: -0.8em;
  text-align: center;
  line-height: 1.6em;
  border-radius: 25px;
  font-size: 14px;
  color: #516378;
  &:active,
  &:focus {
    outline: none;
  }
}

.download {
  display: flex;
  justify-content: end;
  align-items: center;
  span {
    line-height: 26px;
    font-size: 13px;
    font-weight: 400;
    text-align: right;
    color: #516272;
    user-select: none;
    cursor: pointer;
  }
  .material-icons {
    font-size: 18px;
    margin: auto;
    color: #516378;
    margin-right: 5px;
  }
}

.title-caption {
  margin-left: 10px;
  display: flex;
  align-items: center;
  text-align: left;
  font-weight: 600;
  color: #98a7b3;
  font-size: 11px;
  line-height: 26px;
  .material-icons {
    font-size: 14px;
    margin: 0 !important;
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  }
}

canvas#trend {
  //width: 100% !important;
  max-height: 400px !important;
}
#trend-wrapper {
  height: 400px;
}

#selectable {
  margin-bottom: 0;
  margin-right: 20px;
}

#selectable .ui-selected {
  background-color: #e8ebed;
  color: #516378;
}

.button-caption {
  margin-right: 10px;
}
.dark-header {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857;
  color: rgb(81, 99, 120);
  background-color: #edeff1;
  padding: 10px !important;
  .ib-card-actions {
    span {
      padding: 0;
      margin: 0;
      font-size: 11px;
      font-weight: 700;
      color: #98a7b3;
      line-height: 1.8;
      text-align: left;
    }
    .material-icons {
      display: inline-block;
      font-size: 18px;
      color: #98a7b3;
      margin-right: 12px;
    }
  }
}

.description.left {
  justify-content: flex-start;
  margin-left: 8px;
  min-width: 0;
  .material-icons {
    font-size: 14px;
  }
}
.selectee {
  display: inline-block;
  border-right: 0;
  line-height: 26px;
  width: 74px;
  height: 32px;
  border: 1px solid rgba(81, 99, 120, 0.2);
  color: #98a7b3;
  font-size: 13px;
  font-weight: 900;
  text-align: center;
  background-color: #fff;
  vertical-align: baseline;
  padding-top: 2px;
  &:hover {
    background-color: #e8ebed;
    color: #516378;
  }
  &:nth-child(1) {
    border-radius: 3px 0 0 3px;
  }
  &:nth-child(2) {
    border-radius: 0;
  }
  &:nth-child(3) {
    border-radius: 0 3px 3px 0;
  }
}

.chart-wrapper{
  height: 400px;
}