#directions_walk-wrapper{
  height: 400px;
}
table.area-funnel{
  width: 100%;
  font-size: 14px;
  text-align: center;
  color: #516378;
  border-spacing: 0;
  border-top: 2px solid #e8ebed;
  thead{
    th{
      height: 36px;
      padding: 2px 8px;
      border-bottom: 1px solid #e8ebed;
      font-size: 12px;
      font-weight: 600;
      text-align: center;
      word-spacing: -1px;
      letter-spacing: -.025em;
      -webkit-transition: all .18s ease-in-out;
      transition: all .18s ease-in-out;
    }
  }
  tbody{
    td{
      border-bottom: 1px solid #e8ebed;
      height: 50px;
      border-collapse: collapse;
      padding: 2px 8px;
    }
  }
  tr:hover{
    background-color: rgba(81,99,120,.1);
  }
}
