@import '/assets/scss/responsive.scss';

.radio-label {
  margin-right: 20px;
  font-size: 14px;
  color: #516378;
}

#period {
  width: 100%;
  border-collapse: separate;
  box-sizing: border-box;
  box-shadow: none;
  font-size: 14px;
  height: 40px;
  display: flex;
  flex-direction: row;
  position: relative;
  -webkit-box-align: center;
  align-items: center;
  background-color: rgb(249, 249, 249);
  color: rgb(204, 204, 204);
  border-radius: 4px;
  border-spacing: 0px;
  overflow: hidden;
  padding: 0px 10px;
  outline: none;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(232, 235, 237);
  border-image: initial;
  &::placeholder {
    border-collapse: separate;
    font-size: 14px;
    color: rgb(204, 204, 204);
    cursor: not-allowed;
    border-spacing: 0px;
  }
  margin-right: 12px;
}

#visit-type-button,
#store-type-button {
  box-sizing: border-box;
  border-color: rgb(230, 230, 230);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  transition: all 100ms ease 0s;
  outline: 0px !important;
  background-color: rgb(242, 242, 242);
  min-height: 38px;
  .ui-selectmenu-text {
    color: rgb(153, 153, 153);
    margin-left: 2px;
    margin-right: 2px;
    max-width: calc(100% - 8px);
    position: absolute;
    text-overflow: ellipsis;
    white-space: nowrap;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;
    overflow: hidden;
  }
  .ui-selectmenu-icon {
    margin-top: 3px;
  }
}

.ui-menu-item-wrapper {
  color: #516378;
}

.ui-state-active,
.ui-widget-content .ui-state-active {
  border: 1px solid #f3f4f6;
  background-color: #f3f4f6;
  font-weight: normal;
  color: #516378;
}

#slider {
  min-width: 300px;
  background-color: #e9e9e9;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border-radius: 25px;
  height: 0.7em !important;
  border: none;
}
#custom-handle {
  width: 2em;
  height: 1.6em;
  top: 50%;
  margin-top: -0.8em;
  text-align: center;
  line-height: 1.6em;
  border-radius: 25px;
  font-size: 14px;
  color: #516378;
  &:active,
  &:focus {
    outline: none;
  }
}

.download {
  display: flex;
  justify-content: end;
  align-items: center;
  span {
    line-height: 26px;
    font-size: 13px;
    font-weight: 400;
    text-align: right;
    color: #516272;
    user-select: none;
    cursor: pointer;
  }
  .material-icons {
    font-size: 18px;
    margin: auto;
    color: #516378;
    margin-right: 5px;
  }
}

.title-caption {
  margin-left: 10px;
  display: flex;
  align-items: center;
  text-align: left;
  font-weight: 600;
  color: #98a7b3;
  font-size: 11px;
  line-height: 26px;
  .material-icons {
    font-size: 14px;
    margin: 0 !important;
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  }
}

.brand-overview-card-row {
  display: flex;
  justify-content: space-between;
  .card-left {
    flex: 5;
    margin-right: 15px;
  }
  .card-right {
    flex: 7;
  }
  @include mobile {
    flex-direction: column;
    .card-left {
      flex: 5;
      margin-right: 0;
    }
  }
}

.summary {
  display: flex;
  flex-direction: column;
  width: 140px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 30px;
  overflow: hidden;
  span.title {
    font-size: 14px;
    color: #516378;
    i {
      color: #97a6b2;
      font-size: 14px;
      margin-left: 5px;
    }
  }
  span.value {
    font-size: 35px;
    color: #516378;
  }
  span.sparkline {
    width: 100%;
    canvas {
      width: 100%;
    }
  }
  span.diff {
    line-height: 28px;
    color: rgb(136, 154, 174);
    font-size: 18px;
    font-weight: 400;
    i {
      font-size: 14px;
      margin-right: 5px;
      line-height: 28px;
    }
    &.high {
      i {
        color: #ff3d79;
      }
    }
    &.low {
      i {
        color: #1e98ff;
      }
    }
  }
}

#summary-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#trend-wrapper {
  height: 400px;
}

.no-padding {
  padding: 0 !important;
}
table.area-funnel {
  width: 100%;
  font-size: 14px;
  text-align: center;
  color: #516378;
  border-spacing: 0;
  border-top: 2px solid #e8ebed;
  thead {
    th {
      height: 36px;
      padding: 2px 8px;
      border-bottom: 1px solid #e8ebed;
      font-size: 12px;
      font-weight: 600;
      text-align: center;
      word-spacing: -1px;
      letter-spacing: -0.025em;
      -webkit-transition: all 0.18s ease-in-out;
      transition: all 0.18s ease-in-out;
    }
  }
  tbody {
    td {
      border-bottom: 1px solid #e8ebed;
      height: 50px;
      border-collapse: collapse;
      padding: 2px 8px;

      &:last-child {
        font-weight: 600;
      }
    }
  }
  tr:hover {
    background-color: rgba(81, 99, 120, 0.1);
  }
}
.scroll-x {
  @include mobile {
    overflow-x: scroll;
  }
}

table {
  @include mobile {
    min-width: 500px;
  }
}
