nav#navbar.navbar.navbar-expand-lg.navbar-light
  .brand-wrapper
    a.navbar-brand(href='#') WalkInsights Demo
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#sidebar', aria-controls='sidebar', aria-expanded='false', aria-label='Toggle navigation')
    i.material-icons dehaze
  .navbar-content
    form.form-inline
      i.material-icons search
      input.form-control.mr-sm-2(type='search', placeholder='모든 매장', aria-label='Search')
    ul.navbar-nav
      li.nav-item.dropdown
        a#navbarDropdown.nav-link(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          | Demo User
        .dropdown-menu(aria-labelledby='navbarDropdown')
          a.dropdown-item(href='#') Action 1
          a.dropdown-item(href='#') Action 2
          .dropdown-divider
          a.dropdown-item(href='#') Action 3
