#sidebar
    .side-bar-item
        .title-menu-item
            span 브랜드 대시보드
        a
            .menu-item.selected
                i.material-icons.bold home
                p 개요
        a
            .menu-item
                i.material-icons.bold trending_up
                p 트렌드
        a
            .menu-item
                i.material-icons.bold get_app
                p 엑셀 다운로드
    .side-bar-item
        .title-menu-item
            span 매장 대시보드
        .menu-group
            .menu-group-name 퍼널 및 추세 분석
            a
                .menu-item
                    i.material-icons.bold home
                    p 개요
            a
                .menu-item
                    i.material-icons.bold trending_up
                    p 트렌드
            a
                .menu-item
                    i.material-icons.bold assessment
                    p 벤치마크 문석
            a
                .menu-item
                    i.material-icons.bold dashboard
                    p 영역 퍼널
        .menu-group
            .menu-group-name 공간 분석
            a
                .menu-item
                    i.material-icons.bold directions_walk
                    p 동선 분석
        .menu-group
            .menu-group-name 다운로드
            a
                .menu-item
                    i.material-icons.bold description
                    p 주간 보고서
            a
                .menu-item
                    i.material-icons.bold get_app
                    p 엑셀 다운로드

