doctype html
html(lang="ko")
  include components/head
  body
    h1 페이지 목록
    h2 브랜드 데모 대시보드
    h3
      ul
        li
          a(href='./pages/brand/excel.pug') 개요
        li
          a(href='./pages/brand/trend.pug') 트렌드
        li
          a(href='./pages/brand/excel.pug') 엑셀 다운로드
    h2 매장 데모 대시보드
    h3 퍼널 및 추세 분석
      ul
        li
          a(href='./pages/funnel/overview.pug') 개요
        li
          a(href='./pages/funnel/trend.pug') 트렌드
        li
          a(href='./pages/funnel/benchmark.pug') 벤치마크 분석
        li
          a(href='./pages/funnel/area.pug') 영역 퍼널
    h3 공간 분석
      ul
        li
          a(href='./pages/space/movement.pug') 동선 분석
    h3 다운로드
      ul
        li
          a(href='./pages/download/report.pug') 주간 보고서
        li
          a(href='./pages/download/excel.pug') 엑셀 다운로드
    script(src="index.js")
